<?xml version="1.0" encoding="utf-8" ?>
<module>
	<assemblies>
		<add assembly="FTWCAB.ContentReport" />
	</assemblies>

	<clientResources>
		<add name="FTWCAB.ContentReport.Scripts" path="ClientResources/main.js" resourceType="Script" />
		<add name="FTWCAB.ContentReport.Styles" path="ClientResources/main.css" resourceType="Style" />
		<!--<add name="FTWCAB.ContentReport.Scripts" path="http://localhost:3000/static/js/bundle.js" resourceType="Script" />-->
	</clientResources>

	<routes>
		<route controllerPrefix="FtwContentReport">
			<defaults>
				<add key="controller" value="ContentUsages" />
				<add key="action" value="Index" />
				<add key="id" value="" />
			</defaults>
		</route>
	</routes>
</module>